## Deusald Unity .gitignore
## Author: Adam "Deusald" Orliński
## Version: 1.0.3

## Ignore all files:
*

## Ignore all, except:

# Unity must-have directories:
![aA]ssets
![aA]ssets/**
![pP]roject[sS]ettings
![pP]roject[sS]ettings/**
![pP]ackages
![pP]ackages/**

#Ignore TMP folder in project
[aA]ssets/TMP
[aA]ssets/TMP.meta

# Git settings:
!.gitignore
!.gitattributes
!.gitmodules

# Documents (Docs)
![dD]ocs
![dD]ocs/**
![dD]ocuments
![dD]ocuments/**

# Sources (Src)
![sS]ources
![sS]ources/**
![sS]ource
![sS]ource/**
![sS]rc
![sS]rc/**

# Readme
![rR]eadme.*
!README.*

# Changelog
![cC]hangelog.*
!CHANGELOG.*

# Contribute
![cC]ontribute.*
![cC]ontributing.*
!CONTRIBUTING.*
!CONTRIBUTE.*

#Settings
!*.DotSettings

## Ignore again:

# Mac crap
.DS_Store

# Ignore UnityVS tools:
Assets/**/UnityVS

#Steam
!steam_appid.txt

#Unity Packages
*.[uU]nity[pP]ackage

# Mac crap
.DS_Store

# Ignore project specific: